body{
    background: rgb(89, 162, 108);
    font: normal 15pt Comic;
}

header{
    color: rgb(8, 20, 9);
    text-align: center;
}

section{
    background: rgba(40, 161, 94, 0.64);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(63, 185, 122, 0.63);
}

footer{
    color: rgb(15, 30, 15);
    text-align: center;
    font-style: italic;

}