body{
    background: rgb(89, 162, 108);
    font: normal 15pt Comic;
}

header{
    color: white;
    text-align: center;
}

section{
    background: rgba(40, 161, 94, 0.14);
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(51, 98, 73, 0.63);
}

footer{
    color: rgb(15, 30, 15);
    text-align: center;
    font-style: italic;

}