body{
    background: rgb(23, 41, 24);
    font: normal 15pt Comic;
}

header{
    color: rgb(8, 20, 9);
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(51, 153, 88, 0.63);
}

footer{
    color: rgb(15, 30, 15);
    text-align: center;
    font-style: italic;

}